<div class="container">

  <div class="row justify-content-center mainRow">
    <div class="bg-light p-3">
      <h2 class="col-12 pb-3 headingPart" style="text-align: center">
        Truck Driver Mapping
      </h2>
    </div>
  </div>

  <nav class="navbar navbar-dark bg-w">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>