<div class="container">

    - <div class="row justify-content-center align-item-center mainRow">
        <h2 class="col-12 pb-3 headingPart" style="text-align: center">
            Login
        </h2>

        <div class="container">
            <div class="loginBox">
                <img src="adani-logo.png" class="adani">

            </div>
        </div>
        <!-- <form>
            <div class="row">
                <div class="col-12">
                    <input type="Username" class="form-control" id="Username" placeholder="Username">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <input type="Password" class="form-control" id="Password" placeholder="Password">
                </div>
            </div>

            <div class="form-group row d-flex justify-content-center align-item-center">
                <div class="col-6 text-right">
                    <button type="submit" class="btn btn-danger mr-5 mt-3">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div> -->