<!--Footer Starts-->
<footer class="footerStyle">
  <div class="container-fluid">
    <p class=" text-center">
      &copy; {{ currentDate | date: "yyyy" }}
      <strong class="bt-primary-color">2022</strong>&nbsp;
      <strong class="bt-secondary-color">Suraj Informatics Pvt. Ltd.</strong>
      &nbsp;

      <a class="bt-facebook ml-3" href="https://www.facebook.com/surajinformatics" target="_blank">

        <i class="fa-brands fa-facebook-f"></i>

      </a>
      &nbsp;
      <a class="bt-twitter ml-2" href="https://twitter.com/SurajSh69673290" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
      &nbsp;
      <a class="bt-linkedin ml-2" href="https://in.linkedin.com/company/suraj-informatics-pvt.-ltd." target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </p>
  </div>
</footer>
<!--Footer Ends-->