.footerStyle {
  background-color: #1e1e2b;
  color: #686876;
  left: 0;
  right: 0;
  padding-bottom: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
}

p {
  margin: 3px center;
  position: relative;

}

.bt-secondary-color {
  color: #00c282;
}

.fa-brands, .fab {
  font-weight: 400;
  color: blue;
}

.text-center {
  text-align: center!important;
}