<div class="container">
    <div class="row justify-content-center mainRow">
        <h2 class="col-12 pb-3 headingPart" style="text-align: center">
            Gate Transactions
        </h2>
        <div class="col-12 d-flex justify-content-center">
            <form style="width:60%">
                <div class="form-group row">
                    <div class="search_wrap search_wrap_1">
                        <div class="search_box">
                            <i class="fa-light fa-magnifying-glass"></i>
                            <input type="text" class="input" placeholder="Search on truck number" size:20px>
                        </div>
                    </div>

                    <div class="col-4">
                        <button type="button" class="btn btn-info">Search</button>
                        </div>
                </div>
            </form>