<!-- <div class="navbar navbar-expand navbar-dark bg-dark px-2">

    <div class="side-nav-button p-2 me-3 text-lignt">
        <i class="fa-sold fa-bars"></i>
    </div>
    <a class="navbar-brand px-6" href="/">
        SURAJ INFORMATICS</a>

    <div class="navbar-collapse">
        <ul class="navbar-nav- me-auto">
            
        </ul>
    </div>
</div> -->

<div class="container">
    <div class="row justify-content-center mainRow">
        <h2 class="col-12 pb-3 headingPart" style="text-align: center">
            Vehicle Registration
        </h2>
        <div class="col-12 d-flex justify-content-center">
            <form style="width:60%">
                <div class="form-group row">
                    <div class="col-4 text-right">
                        <label for="vehicleRegistrationNumber">Vehicle Registration Number :</label>
                    </div>
                    <div class="col-4">
                        <input type="number" id="vehicleRegistrationNumber" name="vehicleRegistrationNumber" size="50">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4 text-right">
                        <label for="vehicleOwnerName">Vehicle Owner Name :</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="vehicleOwnerName" name="vehicleOwnerName" size="50">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 text-right">
                        <label for="registrationExpires">Registration Expires :</label>
                    </div>
                    <div class="col-4">
                        <input type="date" id="registrationExpires" name="registrationExpires" style=width:200px>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 text-right">
                        <label for="brand">Brand :</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="brand">
                            <option></option>
                            <option>Nissan Titan</option>
                            <option>Mahindra</option>
                            <option>Ashok Leyland</option>
                            <option>TATA</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 text-right">
                        <label for="model">Model :</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="model">
                            <option></option>
                            <option>Ram 1500 Classic</option>
                            <option>Blazo X 35 8X4 Tipper</option>
                            <option>Pro 8031 XM</option>
                            <option>3525 RMC</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-item-center">
                    <button type="button" class="btn btn-primary mr-4 mt-3">Submit</button>
                    <button type="button" class="btn btn-danger mr-4 mt-3">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>












<!-- 

        <div class="form-group row d-flex justify-content-center align-item-center">
            <div class="col-6 text-right">
                <button type="submit" class="btn btn-primary mr-5 mt-3">
                    Submit
                </button>
            </div>

            <div class="col-6 text-right">
                <button type="submit" class="btn btn-danger mr-5 mt-3">
                    Cancel
                </button>
            </div>
        </div>
        </form>  -->